<div class="widgets">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ba-card title="内容列表">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <dict-select></dict-select>
                    </div>
                </div>
                <p class="text-right">
                    <a class="btn btn-success btn-xm" href="./#/pages/appcontents/add">新建</a>
                </p>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="table-id">内容ID</th>
                            <th>内容名称</th>
                            <th>内容类型</th>
                            <th>所属模块</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isLoading && contentList.length>0">
                        <tr *ngFor="let item of contentList">
                            <td class="table-id">{{ item.Id}}</td>
                            <td>{{ item.Title | lowercase | uppercase }}</td>
                            <td>{{ item.DataKindName }}</td>
                            <td>
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-xs" [disabled]="item.ModuleDataList == 0" [ngClass]="{'btn-primary': item.ModuleDataList.length > 0}" dropdownToggle addToggleClass="true">查看</button>
                                    <ul class="dropdown-menu" dropdownMenu>
                                        <li class="dropdown-item" *ngFor="let it of item.ModuleDataList">
                                            <a href="#">{{it.Name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="button-wrapper"><a href="./#/pages/appcontents/edit/{{item.Id}}" class="btn btn-primary editable-table-button btn-xs">编辑</a></div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!isLoading && contentList.length == 0">
                        <tr>
                            <td class="text-center red" colspan="5">
                                没有数据！
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="isLoading">
                        <tr>
                            <td class="text-center red" colspan="5">
                                Loading ...
                            </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="totalPages>1">
                        <tr class="text-center">
                            <td colspan="5">
                                <pagination (pageChanged)="pageChanged($event)" [totalItems]="pageConf.totalItems" [(ngModel)]="pageConf.currentPage" [maxSize]="pageConf.maxSize" [boundaryLinks]="true"></pagination>
                                <!--<pagination (pageChanged)="pageChanged($event)" [totalItems]="pageConf.totalItems" [(ngModel)]="pageConf.currentPage" [maxSize]="pageConf.maxSize" [boundaryLinks]="true" [previousText]="'上一页'" [nextText]="'下一页'" [firstText]="'首页'" [lastText]="'末页'"></pagination>-->
                                <span class="page-info">共 {{totalPages}} 页 {{pageConf.totalItems}} 条记录</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </ba-card>
        </div>
    </div>
</div>